server:
  port: 8083
file:
  # 自定义文件上传路径
  upload-path: D:\test_img_upload
  # 创建文件夹的日期格式
  dir-fmt: yyyy/MM/dd
  domain: http://localhost:${server.port}

spring:
  # 发送邮件的配置
  mail:
    host:     # TODO: 邮件服务器域名
    # 本地需要使用 25 端口，否则项目启动时检测邮件服务器是否可用会报错
    port: 25
    username: # TODO: 邮箱账号
    password: # TODO: 邮箱设置里开启 POP3/SMTP 服务时生成的授权码，不是登录密码
    # 启动的时候检测邮件服务器是否可用
    test-connection: true
    properties:
      mail:
        smtp:
          # 启动 ssl
          ssl: enable
          auth: true
          # 设置超时时间
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
  # 配置 MySQL 连接信息
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/blog?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root  # TODO: MySQL 用户名
    password: 12345 # TODO: MySQL 密码
  # redis 配置
  redis:
    host: localhost
    port: 6379
  servlet:
    multipart:
      # 限制单个文件的大小
      max-file-size: 5MB
      # 限制请求总大小
      max-request-size: 15MB
  # thymeleaf 配置
  thymeleaf:
    # 关闭缓存，用于即时刷新，上线生产环境时改为 true
    cache: false
  web:
    resources:
      static-locations:
        - file:${file.upload-path}
security:
  config:
    exclude-path-patterns:
      - /api/user/login
      - /api/comment
      - /api/user/token/validation
    path-patterns:
      - /api/**
      - /admin/preview/mail/text/*
    token-name: token
