#mail-module {
  border: .1rem solid rgba(154, 128, 92, .3);
}

#mail-module-search-form {
  border-bottom: .1rem solid rgba(154, 128, 92, .3);
}

select#search-comment-article {
  max-width: 18rem;
}

#comment-data-table-body .comment-avatar {
  max-width: 64px;
}
