#comment-container #comment-thread {
  margin-top: 5rem
}

#comment-container #comment-thread > h4 {
  color: #4f321c
}

#comment-container #comment-thread .textarea,
#comment-container #comment-thread input {
  color: #503214;
  background-color: #faf5e3
}

#comment-container #comment-thread input[type=button],
#comment-container #comment-thread input[type=submit] {
  margin-left: .8rem;
  padding-left: .8rem;
  padding-right: .8rem
}

#comment-container #comment-thread .avatar img {
  border-radius: .8rem;
  width: 6.4rem
}

#comment-container p {
  color: #503214
}

#comment-container .placeholder {
  color: rgb(80, 50, 20, .3)
}

#comment-container a:link,
#comment-container a:visited {
  color: #c58e04;
  text-decoration: none
}

#comment-container a:hover {
  color: rgb(235, 171, 10, 1);
  text-decoration: none
}

#comment-container .reply,
#comment-container .text-wrapper .text {
  margin-left: 10%
}

.comment-item > div.text-wrapper > .comment-item-footer {
  clear: left;
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section .input-wrapper input {
  padding: 0.5rem 1rem;
  max-width: 100%;
  border-radius: .3rem;
  background-color: #fff;
  line-height: 2rem;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 .1rem .2rem rgb(0 0 0 / 10%);
}

#comment-thread * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#comment-thread .comment-item-header a {
  text-decoration: none;
}

#comment-thread {
  padding: 0;
  margin: 0;
}

#comment-thread > h4 {
  color: #555;
  font-weight: bold;
}

[id^='preview-textarea-'] {
  min-height: 15rem;
  outline: 0;
}

textarea {
  min-height: 15rem;
  min-width: 100%;
  max-width: 100%;
}

#comment-thread .textarea.placeholder {
  color: #757575;
}

#comment-root .comment-item {
  max-width: 100%;
  padding-top: 1.2rem;
  margin: 1.2rem auto;
}

#comment-root .comment-item:not(:first-of-type),
.comment-follow-up .comment-item {
  border-top: .1rem solid rgba(0, 0, 0, 0.1);
}

.comment-item > div.avatar {
  display: block;
  float: left;
  width: 7%;
  margin: .3rem 1.2rem 0 0;
}

.comment-item > div.text-wrapper {
  display: block;
}

.comment-item .comment-follow-up {
  padding-left: calc(7% + 2rem);
}

.comment-item > div.text-wrapper > .comment-item-header,
.comment-item > div.text-wrapper > .comment-item-footer {
  font-size: 1.5rem
}

.comment-item > div.text-wrapper > .comment-item-header .spacer {
  padding: 0 .6rem;
}

.comment-item > div.text-wrapper > .comment-item-header .spacer,
.comment-item > div.text-wrapper > .comment-item-header a.permalink,
.comment-item > div.text-wrapper > .comment-item-header .note,
.comment-item > div.text-wrapper > .comment-item-header a.parent {
  color: rgb(128, 128, 128) !important;
  font-weight: normal;
  text-shadow: none !important;
}

.comment-item > div.text-wrapper > .comment-item-header .spacer:hover,
.comment-item > div.text-wrapper > .comment-item-header a.permalink:hover,
.comment-item > div.text-wrapper > .comment-item-header .note:hover,
.comment-item > div.text-wrapper > .comment-item-header a.parent:hover {
  color: #606060 !important;
}

.comment-item > div.text-wrapper > .comment-item-header .note {
  float: right;
}

.comment-item > div.text-wrapper > .comment-item-header .nickname {
  font-weight: bold;
  color: #555;
}

.comment-item > div.text-wrapper > .textarea-wrapper .textarea {
  margin-top: 0.5rem;
}

.comment-item > div.text-wrapper > div.text p {
  margin-top: 0.5rem;
}

.comment-item > div.text-wrapper > div.text p:last-child {
  margin-bottom: 0.5rem;
}

.comment-item > div.text-wrapper > div.text h1,
.comment-item > div.text-wrapper > div.text h2,
.comment-item > div.text-wrapper > div.text h3,
.comment-item > div.text-wrapper > div.text h4,
.comment-item > div.text-wrapper > div.text h5,
.comment-item > div.text-wrapper > div.text h6 {
  font-size: 130%;
  font-weight: bold;
}

.comment-item > div.text-wrapper > div.textarea-wrapper .textarea {
  width: 100%;
  border: .1rem solid #f0f0f0;
  border-radius: .2rem;
  box-shadow: 0 0 .2rem #888;
}

.comment-item > div.text-wrapper > .comment-item-footer a {
  font-weight: bold;
  text-decoration: none;
}

.comment-item > div.text-wrapper > .comment-item-footer a:hover {
  color: #111111 !important;
  text-shadow: #aaaaaa 0 0 .1rem !important;
}

.comment-item > div.text-wrapper > .comment-item-footer > a {
  position: relative;
  top: .5rem;
}

.comment-item > div.text-wrapper > .comment-item-footer > a + a {
  padding-left: 1.5rem;
}


.comment-item [id^='comment-box-'] {
  margin-top: 1.3rem;
}

[id^='comment-box-'] {
  max-width: 100%;
  margin: 0 auto 2.5rem;
  clear: right;
}

[id^='comment-box-'] > .form-wrapper {
  display: block;
  padding: 0;
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section,
[id^='comment-box-'] > .form-wrapper > .comment-form-section .comment-action {
  display: block;
}

[id^='comment-box-'] > .form-wrapper .textarea,
[id^='comment-box-'] > .form-wrapper [id^='preview-textarea-'] {
  margin: 0 0 .6rem;
  padding: .8rem 1.2rem;
  border-radius: .3rem;
  background-color: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.1);
}

[id^='comment-box-'] > .form-wrapper input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: .1rem;
  margin-left: 0;
}

[id^='comment-box-'] > .form-wrapper .notification-section {
  font-size: 1.5rem;
  padding-top: .6rem;
}

#comment-thread .textarea:focus,
#comment-thread input:focus {
  border-color: rgba(0, 0, 0, 0.8);
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section .input-wrapper {
  display: inline-block;
  position: relative;
  max-width: 25%;
  margin: 0 .3rem 0 0;
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section .comment-action {
  display: inline-block;
  float: right;
  margin: 0 0 0 .5rem;
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section .comment-action > input {
  padding: calc(.5rem - .1rem);
  border-radius: .2rem;
  border: .1rem solid #CCC;
  background-color: #DDD;
  cursor: pointer;
  outline: 0;
  line-height: 2rem;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.1);
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section .comment-action > input:hover {
  background-color: #CCC;
}

[id^='comment-box-'] > .form-wrapper > .comment-form-section .comment-action > input:active {
  background-color: #BBB;
}

[id^='comment-box-'] > .form-wrapper [id^='preview-textarea-'],
[id^='comment-box-'] > .form-wrapper input[name="edit"] {
  display: none;
}

[id^='comment-textarea-'] {
  display: block;
}

[id^='comment-box-'] > .form-wrapper [id^='preview-textarea-'] {
  background: #f8f8f8 repeating-linear-gradient(
    -45deg,
    #f8f8f8,
    #f8f8f8 1rem,
    #fff 1rem,
    #fff 2rem
  );
}

[id^='comment-box-'] > .form-wrapper > .notification-section {
  padding-bottom: 1rem;
}

.input-tips {
  font-size: 1.25rem;
}

.comment-item h1,
.comment-item h2,
.comment-item h3,
.comment-item h4,
.comment-item h5,
.comment-item h6 {
  margin: 0;
}

@media screen and (max-width: 786px) {
  [id^='comment-box-'] > .form-wrapper > .comment-form-section .input-wrapper {
    display: block;
    max-width: 100%;
    margin: 0 0 .6rem;
  }

  [id^='comment-box-'] > .form-wrapper > .comment-form-section .input-wrapper input {
    width: 100%;
  }

  .comment-item .comment-follow-up {
    padding-left: calc(3% + 1rem);
  }
}
