.toc-wrapper {
  position: absolute;
  width: 28rem;
  right: -28.8rem;
  top: 0
}

.toc {
  position: fixed;
  font-size: 1.6rem;
  max-width: 28rem;
  min-width: 20rem;
  overflow: auto;
  background-color: #faf5e3;
  max-height: 90%
}

.toc-inner ul {
  overflow: auto;
  list-style: none;
  padding-left: 1.2rem
}

.toc-inner {
  overflow: auto;
  padding: .6rem .4rem .6rem 0
}

.toc .box {
  margin-right: .4rem
}

.toc .active {
  background: #e7e1c8
}

.toc-widget ol, .toc-widget ul {
  padding-left: 2rem;
  margin-top: .8rem
}

.toc ol ul, .toc ul ul {
  margin-top: .5rem
}

.toc ul li ul {
  margin: .5rem 0
}

.toc-h1 {
  margin-left: 0;
}

.toc-h2 {
  margin-left: 1rem;
}

.toc-h3 {
  margin-left: 2rem;
}

.toc-h4 {
  margin-left: 3rem;
}

.toc-h5 {
  margin-left: 4rem;
}

.toc-h6 {
  margin-left: 5rem;
}

.toc .toc-head {
  font-size: 1.5rem;
  border-bottom: .1rem solid rgba(154, 128, 92, .7);
  background-color: #faf5e3;
  top: 0;
  position: sticky;
  padding: .3rem 1rem
}

.toc .toc-head-top {
  float: right
}

.toc .toc-tail {
  font-size: 1.5rem;
  border-top: .1rem solid rgba(154, 128, 92, .7);
  background-color: #faf5e3;
  bottom: 0;
  padding: .3rem 1rem;
  position: sticky
}

.toc .toc-tail-contact {
  float: right
}

.toc .toc-widget {
  font-size: 1.5rem;
  border-top: .1rem solid rgba(154, 128, 92, .7);
  padding: .8rem 1rem
}

.toc .toc-widget li {
  margin-top: .4rem
}

@media (max-width: 1450px) {
  .toc-inner ul {
    padding-left: 0
  }
}

@media (max-width: 1100px) {
  .toc-wrapper {
    display: none
  }
}

@media print {
  .toc-wrapper {
    display: none
  }
}

.toc li.active .box {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 4rem;
  vertical-align: middle;
  background-color: #2ecc71
}

.toc li .box {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 4rem;
  vertical-align: middle;
  background-color: #f39c12;
}
