<div id='add-friend-link-panel' class='hidden' th:fragment='add_friend_link_panel'>
  <div>
    <label for='add-friend-link-name'>友链名称：</label>
    <input type='text' name='add-friend-link-name' id='add-friend-link-name'>
  </div>
  <div>
    <label for='add-friend-link-url'>友链链接：</label>
    <input type='text' name='add-friend-link-url' id='add-friend-link-url'>
  </div>
  <div>
    <label for='add-friend-link-avatar'>友链头像：</label>
    <input type='text' name='add-friend-link-avatar' id='add-friend-link-avatar'>
  </div>
  <div>
    <label for='add-friend-link-desc'>友链描述：</label>
    <input type='text' name='add-friend-link-desc' id='add-friend-link-desc'>
  </div>
  <div>
    <label for='add-friend-link-group'>友链分组：</label>
    <input type='text' name='add-friend-link-group' id='add-friend-link-group'>
  </div>
  <div>
    <button id='add-friend-link-cancel' onclick='closeAddFriendLinkPanel()'>取消</button>
    <button id='add-friend-link-confirm' onclick='confirmAddFriendLinkAction()'>确认</button>
  </div>
</div>
